@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
